.gallery {
  margin: 0 auto;
  padding: 80px 0px 80px 0px;
}
.gallery .gallery__container h2 {
  color: #181A2A;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding: 0px 0px 0px 15px;
  margin-bottom: 32px;
}
.gallery .gallery__container .gallery__list {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 392px));
}
.gallery .gallery__container .gallery__list .gallery__item_dnipro {
  display: grid;
  padding: 16px;
  border: 1px #E8E8EA solid;
  overflow: hidden;
  border-radius: 12px;
  gap: 20px;
  max-height: 625px;
  height: 100%;
}
.gallery .gallery__container .gallery__list .gallery__item_dnipro > img {
  width: 100%;
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.gallery .gallery__container .gallery__list .gallery__item_dnipro > p {
  border-radius: 6px;
  width: 100px;
  height: 44px;
  background-color: #F6F7FF;
  padding: 4px 10px 4px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .gallery .gallery__container .gallery__list .gallery__item_dnipro > p {
    font-size: calc(12px + 3.4 * (100vw - 320px) / 1920);
  }
}
.gallery .gallery__container .gallery__list .gallery__item_dnipro > p > span {
  color: #4B6BFB;
}
.gallery .gallery__container .gallery__list .gallery__item_dnipro h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #181A2A;
}
@media (max-width: 991.98px) {
  .gallery .gallery__container .gallery__list .gallery__item_dnipro h2 {
    font-size: calc(20px + 6.8 * (100vw - 320px) / 1920);
  }
}
.gallery .gallery__container .gallery__list .gallery__item_dnipro h2.dark-theme {
  color: #fff;
}
.gallery .gallery__container .gallery__list .gallery__item_dnipro .info__card {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.gallery .gallery__container .gallery__list .gallery__item_dnipro .info__card .gallery__button_card {
  width: 143px;
  height: 48px;
  border-radius: 6px;
  border: 1px #696A75 solid;
  color: #696A75;
}
.gallery .gallery__container .gallery__list .gallery__item_dnipro .info__card > h3 {
  color: #97989F;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 991.98px) {
  .gallery .gallery__container .gallery__list .gallery__item_dnipro .info__card > h3 {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
.gallery .gallery__container .gallery__list .gallery__item_dnipro.dark-theme {
  border: 1px #242535 solid;
}
.gallery .gallery__container .gallery__list .gallery__item_kharkiv {
  display: grid;
  padding: 16px;
  border: 1px #E8E8EA solid;
  overflow: hidden;
  border-radius: 12px;
  gap: 20px;
  max-height: 625px;
  height: 100%;
}
.gallery .gallery__container .gallery__list .gallery__item_kharkiv > img {
  width: 100%;
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.gallery .gallery__container .gallery__list .gallery__item_kharkiv > p {
  border-radius: 6px;
  max-width: 100px;
  width: 100%;
  height: 44px;
  background-color: #F6F7FF;
  padding: 4px 10px 4px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .gallery .gallery__container .gallery__list .gallery__item_kharkiv > p {
    font-size: calc(12px + 3.4 * (100vw - 320px) / 1920);
  }
}
.gallery .gallery__container .gallery__list .gallery__item_kharkiv > p > span {
  color: #4B6BFB;
}
.gallery .gallery__container .gallery__list .gallery__item_kharkiv h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #181A2A;
}
@media (max-width: 991.98px) {
  .gallery .gallery__container .gallery__list .gallery__item_kharkiv h2 {
    font-size: calc(20px + 6.8 * (100vw - 320px) / 1920);
  }
}
.gallery .gallery__container .gallery__list .gallery__item_kharkiv h2.dark-theme {
  color: #fff;
}
.gallery .gallery__container .gallery__list .gallery__item_kharkiv .info__card {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.gallery .gallery__container .gallery__list .gallery__item_kharkiv .info__card .gallery__button_card {
  width: 143px;
  height: 48px;
  border-radius: 6px;
  border: 1px #696A75 solid;
  color: #696A75;
}
.gallery .gallery__container .gallery__list .gallery__item_kharkiv .info__card > h3 {
  color: #97989F;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 991.98px) {
  .gallery .gallery__container .gallery__list .gallery__item_kharkiv .info__card > h3 {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
.gallery .gallery__container .gallery__list .gallery__item {
  display: grid;
  padding: 16px;
  border: 1px #E8E8EA solid;
  overflow: hidden;
  border-radius: 12px;
  gap: 20px;
  max-height: 625px;
  height: 100%;
}
.gallery .gallery__container .gallery__list .gallery__item > img {
  width: 100%;
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.gallery .gallery__container .gallery__list .gallery__item > p {
  border-radius: 6px;
  max-width: 65px;
  width: 100%;
  height: 44px;
  background-color: #F6F7FF;
  padding: 4px 10px 4px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .gallery .gallery__container .gallery__list .gallery__item > p {
    font-size: calc(12px + 3.4 * (100vw - 320px) / 1920);
  }
}
.gallery .gallery__container .gallery__list .gallery__item > p > span {
  color: #4B6BFB;
}
.gallery .gallery__container .gallery__list .gallery__item h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #181A2A;
}
@media (max-width: 991.98px) {
  .gallery .gallery__container .gallery__list .gallery__item h2 {
    font-size: calc(20px + 6.8 * (100vw - 320px) / 1920);
  }
}
.gallery .gallery__container .gallery__list .gallery__item h2.dark-theme {
  color: #fff;
}
.gallery .gallery__container .gallery__list .gallery__item .info__card {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.gallery .gallery__container .gallery__list .gallery__item .info__card .gallery__button_card {
  width: 143px;
  height: 48px;
  border-radius: 6px;
  border: 1px #696A75 solid;
  color: #696A75;
}
.gallery .gallery__container .gallery__list .gallery__item .info__card > h3 {
  color: #97989F;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 991.98px) {
  .gallery .gallery__container .gallery__list .gallery__item .info__card > h3 {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
.gallery .gallery__container .gallery__list .gallery__item_dnipro.dark-theme {
  border: 1px #242535 solid;
}
.gallery .gallery__container .gallery__list .gallery__item_kharkiv.dark-theme {
  border: 1px #242535 solid;
}
.gallery .gallery__container .gallery__list .gallery__item.dark-theme {
  border: 1px #242535 solid;
}
.gallery .gallery__container .gallery__button__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery .gallery__container .gallery__button__container .gallery__button {
  width: 143px;
  height: 48px;
  border-radius: 6px;
  border: 1px #696A75 solid;
  color: #696A75;
  margin-top: 32px;
}
.gallery .container_sel_route {
  border: 2px red solid;
}/*# sourceMappingURL=gallery.css.map */